body {
  margin: 0;
  font-family: sans-serif;
  color: rgb(100, 100, 100);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.main {
  background-color: rgb(226, 226, 226);
}

input {
  border: none;
  padding: 10px;
}

.width-full {
  width: 60%;
}

.width-half {
  width: 30%;
}

.nextButton {
  background-color: rgb(70, 187, 70);
  padding: 15px 40px 15px 40px;
}

.backButton {
  background: transparent;
}

@media screen and (max-width: 480px) {
  .backButton {
    background: transparent;
    font-size: smaller;
  }
  .nextButton {
    background-color: rgb(70, 187, 70);
    padding: 5px 5px;
    font-size: smaller;
  }
  .width-full {
    width: 100%;
  }
  .width-half {
    width: 49%;
  }
}
